<!-- TODO: should be done in presenter -->
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<h1>Games</h1>

<table>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to "Game #{game.id}", game %></td>
    </tr>
  <% end %>
</table>
